.search {
	&-form{
		width: 70%;

	}

	&-input {
		width: 60%;
		border: 1px solid #A1A8BD;
		padding: 12px 25px;
		border-radius: 6px;
		margin-right: 16px;
	}

	&-btn{
		border: none;
		background-color:  #A1A8BD;
		color: #fff;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		font-family: 'Ubuntu', sans-serif;
		padding: 9px 25px;
		min-width: 120px;
		border-radius: 24px;
	}
}