.hidden {
	display: none;
}

.mail{
	&-wrapper{
		display: flex;
		align-items: center;
		border: 1px solid #a1a8bd;
		border-bottom: 1px solid #a1a8bd;
		&:hover{
			background-color:#eef0f5;
			box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
			cursor: pointer;
		}
	}
	&-list{
	width: 70%;
	list-style: none;
	padding: 0;
	background-color: #f0f2f7;

}

&-item{
	padding: 11px;
}
}

.active-letter{
	font-weight: 700;
}