@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

